@font-face {
    font-family: favorite;
    src: url(../font/shopping/iconfont.eot);
    src: url(../font/shopping/iconfont.eot?#iefix) format('embedded-opentype'),
    url(../font/shopping/iconfont.woff) format('woff'),
    url(../font/shopping/iconfont.ttf) format('truetype'),
    url(../font/shopping/iconfont.svg#iconfont) format('svg');
}

.pro-message {
	padding: 5px 10px;
}
.pro-price {
	font: 700 17px Verdana,Arial;
	color: #f40;
}
.pro-detail {
	/*font:*/
	padding-top: 20px;
	height: 40px;
}
.pro-detail:hover {
	background-color: #f40;
	color: #fff;
	font: 500 12px Verdana,Arial
}
.list3-line {
	border-bottom: 2px solid #e8e8e8;
	height: 1px;
	width: 235px;
	z-index: -1;
	position: absolute;
	top: 15px;
}
.list3-price {
	/*padding: 5px 10px;*/
	width: 50px;
	margin: 0 auto;
	background: #fff;
	padding: 5px;
	font: 700 17px Verdana,Arial;
	color: #f40;
	text-align: center;
}
.list3-guess {
	position: relative;
}
/*批量管理*/
.right-manage {
	width: 270px;
}
.right-manage li {
	cursor: pointer;
}
.manage-cancel{
	display: none;
}
.manage-cancel li {
	border: none;
}
.manage-cancel li:hover {
	color: #f50;
}
.manage-batch {
	padding-left: 83px;
}
/**/
.radioInput,
.radioInput-shop {
	position: absolute;
	top: 0;
	left: 0px;
	width: 130px;
	height: 80px;
	cursor: pointer;
	opacity: 0;
}
.radioInput-shop {

}
/*.fav-tab-menu2 input:checked + a {
	background: #FF8080;
}*/
.current {
    background: #FF8080;
}

/*遮罩*/
.list-mask {
	display: none;
}
.mask {
	/*display: none;*/
	position: absolute;
	/*z-index: 5px;*/
	background: black;
	width: 102%;
	height: 76%;
	opacity: 0.5;
	top: 0;
	left: 0;
}
.list-mask .mask-click {
	opacity: 0.2;
}
.mask:hover {
	opacity: 0.3;
	border: 2px solid red;
}
.list-mask .changeIconColor {
	color: #C8192A;
}
/*icon*/
.icon-delete {
	font-family:"favorite" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    width: 50px;
    height: 55px;
    font-size: 20px;
    padding-right: 5px;
}
.icon-all {
	font-family:"favorite" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    width: 50px;
    height: 55px;
    cursor: pointer;
    font-size: 14px;
    padding-right: 5px;
}
.icon-choose {
	font-family:"favorite" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    font-size: 30px;
    padding-right: 5px;
    /*color: #5B3C3C;*/
    color: #ccc;
    position: absolute;
    left: 100%;
    top: -5%;
    transform: translateX(-50%);
    /*z-index: 10;*/
}