@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width:1100px; margin-left:auto; margin-right:auto;}
.smallcomWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}


.h_1{border-bottom:3px solid red ; }
.h_2{margin-top:50px;border-top:3px solid red;}
#phone a:hover {
    color: red;
}

@font-face {
    font-family: accountFont;
    src: url(../font/shopping/iconfont.eot);
    src: url(../font/shopping/iconfont.eot?#iefix) format('embedded-opentype'),
    url(../font/shopping/iconfont.woff) format('woff'),
    url(../font/shopping/iconfont.ttf) format('truetype'),
    url(../font/shopping/iconfont.svg#iconfont) format('svg');
}

@keyframes hover {
    0% {
        width: 0px;
    }
    100% {
        width: 150px;
    } 
}

/*登录*/
.login_logo .comWidth{width:500px;}
.welcome_title{font-size: 24px;line-height: 80px;font-family: "Microsoft YaHei","微软雅黑";
		padding-left: 20px;float: left;font-weight: bold;}/*将字体设为浮动，padding才有效果*/

.loginBox{width: 500px;height:366px;border:1px solid #ccc;margin:0 auto;margin-top:10px;position: relative;}
.login_cont{padding:40px 100px;}
.login_input{border:1px solid #999;height: 34px;width:100%;line-height: 34px;padding:0 5px;}
.l_tit{color:#666;line-height: 20px;}
.user_icon{background: url(../images/login/user_icon.jpg) right center no-repeat;}
.user_icon2{background: url(../images/login/user_icon2.jpg) right  center no-repeat;}
.mb_10{margin-bottom: 10px;}
.aotoLogoin{padding-top: 27px;float:left;}
.f_pwd{padding-bottom: 28px;float:right;padding-top: 27px;}
.checked{position: relative;top:3px;margin-right: 3px;}
.login_btn{width:310px;height:39px;background: url(../images/login/login_btn2.jpg) left top no-repeat;}
.login_partners{padding-top: 34px;}
.login_list li{float: left;line-height: 20px;}
.login_list span{color: #999;margin: 0 2px;}
.reg_link{width: 120px;height: 30px;background: url(../images/login/reg_link.jpg) left top no-repeat;
		position: absolute;right:30px;top:365px;}
.footer{margin-top: 50px;}

/*注册*/
.reg_logo .comWidth{width:500px;position: relative;}
.header .logo{margin:0 auto;}
.regBox1{border:1px solid #ccc;width:650px;margin:0 auto;margin-top:10px;/*height:700px;*/}
.reg_item{font:14px/34px "宋体";width:110px;text-align: right;float:left;} /*regbox1分成两部分 一个是字体 一个是input*/
.reg_item i{color: red;font-style: normal;margin-right: 5px;}
.input_item{width:270px;float: left;}
.regBox1 li{height:60px;vertical-align:top;}/*垂直对齐*/
.regBox1 .sc{line-height:34px;}
.reg_btn ,.reg_btn_other{width:305px;height:39px;/**/background:url(../images/Register/reg_03.jpg) right no-repeat;}
.regBox1 a{color:blue;}
.regBox1 a:hover{color:red;}
.regBox1 .d1{text-align:center;}

#reg_student2 .aotoLogoin{height:40px;padding-top: 6px;}
#reg_student2 .check{height:40px;}

#reg_other2 .aotoLogoin{padding-top:3px;height:40px;}
.regBox {width:500px;height:80px;margin-left: 10px;
		font:20px/40px "Microsoft YaHei";border-bottom:2px solid red; margin-left:auto;margin-right: auto;}
.regBox span{font:20px/40px "Microsoft YaHei";width:150px;text-align:left;}
.studentReg{float:left;padding:0;}

.regBox .reg_item2{
    width:150px;
    line-height:78px;
    float:left;
    position: relative;
}
.regBox .reg_item3{line-height:80px;float:right;}
.reg_current {
    border-bottom: 3px solid black;
}
.line {
    position: absolute;
    left: 0%;
    bottom: -4%;
    width: 0px;
    height: 3px;
    background: black;
    transition: width 0.5s;
    /*animation: hover 1s reverse;*/
    /*display: none;*/
}
/*.line:hover {
    width: 100px;
}*/
.regBox1 {display: block;}
/*#reg_student:hover{
    border-bottom: 3px solid black;
}*/
#reg_student2{border:1px solid #ccc;}
/*#reg_other:hover{border-bottom: 3px solid black;}*/
#reg_other2{display: none;}

/*收藏夹*/
.leftArea ul{float:left;}
.wdtax_mune{display:none;}
.F_tax{color:red;}
/*midbar*/
.midBar{background: #C8192A;width:100%;height:80px; }
.midBar li:hover{background:#FF8080;}
.fav-tab{width:1100px;margin:0 auto;}
#fav-tab{width:1080px;}
.fav-tab-menu2 {
    /*position: relative;*/
}
.fav-tab-menu2 li{
    font:16px/80px "Microsoft YaHei", "微软雅黑";
    float: left;
    width:103px;
    height:80px;
    text-align: center;
    position: relative;
}
.fav-tab-menu2 a{
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 80px;
}

/*search*/
.tab-search{width:391px;padding-top:22px;}
.tab-search-text{height:35px;width:309px;line-height: 35px\9;background:#fff;border:2px solid #F5F5F5;padding:0 5px;}
.tab-search-btn{cursor:pointer;height:39px;width:68px;background:#F5F5F5;font-size:14px; font-family:"Microsoft YaHei", "微软雅黑";color:#000;font-weight: bold;}
.tab-search-btn:hover{background:#C6C6C6;}

.fav-cont a:hover{color:red;}
/*收藏的宝贝*/
.fav-var-top{width:1100px;height:50px;margin:0 auto;margin-top:15px;border-bottom:2px solid #E5E5E5;}
.left-item{
		color:#C8192A;font:18px/50px "Microsoft YaHei", "微软雅黑";font-weight:bold;
		width:155px;}
.left-item2 {font:14px/50px "Microsoft YaHei", "微软雅黑";color:#5B3C3C;}
.left-item2 a:hover{color:#C8192A;}
.left-item2{margin-left: 5px;}
.fav-var-left{width:220px;}
.fav-search{width:200px;height: 30px;
	border:1px solid #ccc;padding:0 5px;color:#ccc;margin-top:10px;background: #fff}
.fav-search-right{width:26px;height:32px;border:1px solid #ccc;margin-top:10px;
			background:url(../images/favourite/search.jpg) right center no-repeat;cursor:pointer;}

.right-manage li{font:14px/30px "Microsoft YaHei", "微软雅黑";color:#5B3C3C;width:80px;height:30px;border:1px solid #ccc;
	margin-right:5px;margin-top:10px;text-align:center;}
#baobei-menu {
    z-index: 5;
} 
#baobei-menu li{
    float:left;
    height:50px;
    font:14px/50px "Microsoft YaHei", "微软雅黑";
    width:170px;
 	text-align:center;
    background:#F7F7F7;
 }
#baobei-menu a:hover{color:red;}
#baobei-menu .baobei-item a{color:#C8192A;}
.menu{position:absolute; background-color:#fff;top:177px;display:none;}
/*宝贝图片的div*/
.fav-item{width:1100px;margin:0 auto;height:250px;margin-top:20px;background: #fff}
.fav-list {
    width:15%;
    height:250px;
    float:left;
    margin-left:14px;
    cursor:pointer;
    border:1px solid #fff;
    position: relative;
}
.fav-list img {
    border:1px solid #ccc;
}
.fav-list img:hover {
    border: 1px solid #C8192A;
}
/*.fav-list:hover{border:1px solid #ccc;}*/
.fav-list .xianjia{text-align:center;color:red;margin-left:44px;}
.fav-list .yuanjia{margin-left:5px;}
.fav-list h3{text-align:center;}
.fav-list p{text-align:center;}

.var2-top{margin-top:80px;border-top:2px solid #E5E5E5;}
.var2-left{font:14px/50px "Microsoft YaHei", "微软雅黑";width:155px;height:50px;text-align:center;font-weight:bold;}
.var2-right li{float:left;margin-left:5px;width:80px;font:12px/50px "Microsoft YaHei", "微软雅黑";}
.more{font:12px/50px "Microsoft YaHei", "微软雅黑";color:red;}
.fav-list2{width:235px;float:left;margin: 20px 0 0 30px;border:1px solid #fff;background: #fff}
.fav-list2:hover{border:1px solid #ccc;}
.fav-list2 .xianjia{text-align:center;color:red;margin-left:44px;}
.fav-list2 .yuanjia{margin-left:5px;}

.var3-top {margin-top:40px;height:50px;border-top:2px solid #E5E5E5;border-bottom:2px solid #E5E5E5;}
.fav-bottom{width:1000px;margin:0 auto;background: #fff;}
.fav-list3{float:left;width:21%;margin:20px 0 0 30px;border:1px solid #fff;background: #fff}
.fav-list3:hover{border:1px solid #ccc;}
.fav-var-right li:hover{border-color:#C8192A;}
.fav-item3  {
    margin-bottom: 20px;
}
.fav-var-left .fav-baobei li:hover{color:#C8192A;}
.fav-var-top .var2-right a:hover{color:#C8192A;}


/*账户*/
.fav-tab-menu3 a{font:20px/80px "Microsoft YaHei", "微软雅黑";float: left;
		width:100px;height:80px;text-align: center;color:#fff;}

.Col_left a{font:12px/25px "Microsoft YaHei", "微软雅黑";color:#000;}
.Col_left a:hover{color:red;}
.Col_left{font-size:15px;color: red;width:100px;height:510px;margin-top:20px;}
.Col_Main{width:760px;height:135px;border:1px solid #ccc;margin-left: 20px;margin-top:20px;position:relative;}
.Main_like{margin-top:50px;position:relative;}
.Main_Userbar{background:#F5F8FA;height:75px;}
.U_Baseinfo{background:#F5F8FA;width:300px;height:75px;}
.U_Stuffs li{float:left;font:12px/75px "Microsoft YaHei", "微软雅黑";color:#F5F8BC;width:153px;text-align: center;}
.U_Stuffs a{font:12px/75px "Microsoft YaHei", "微软雅黑";}
.U_Stuffs a:hover,.Main_Mycounts a:hover{color:red;}
.Main_Mycounts li{float: left;width:152px;text-align: center;}
.Main_Mycounts a{font:12px/60px "Microsoft YaHei", "微软雅黑";}
.YTDAX_LIST {padding-left: 10px;}
.icon-down ,
.icon-up {
  font-family: accountFont;
  font-size: 14px;
  color: #c51929;
  font-weight: 100;
  display: inline-block;
  position: relative;
  left: 3px;
  top: 0px;
}
.icon-up {
  left: -3px;
  top: 1px;
  display: none;
}
#baobei{width:760px;}
#fav-list2{width:22%;height:230px;float:left;margin: 20px 8px 0px 8px;border:1px solid #fff;}
#fav-list2:hover{border:1px solid #ccc;}
#fav-list2 img{width:100%;}
#like{width:760px;}
#fav-list3{width:120px;position:relative;margin: 20px 15px 30px 15px;}
#comWidth{position:relative;}
#var2-top{margin-top:90px;}
.Col_Right{width:280px;border:1px solid #ccc;height:700px;margin-top:20px;}
.Right_Content .downup li{float:left;}
#footer{margin-left:auto; margin-right:auto;position:relative;}

.Main_Userbar .discount li{display:none;height:30px;}
/*.Main_Userbar .discount{height:20px;}*/

/*购物车*/
/*.topBar .comWidth .myshop a{display: block;background: url(../images/shopping/shopping.png) left center no-repeat;
		padding-left: 28px;}*/
.shopping-icon {
    font-family: accountFont;
    font-size: 16px;
    color: #c51929;
    vertical-align: top;
    font-weight: 100;
    margin-right: -18px;
}
.icon-fav {
    padding-left: 5px;
    font-family: accountFont;
    font-size: 12px;
    color: #9C9C9C;
    vertical-align: top;
    font-weight: 100;
    margin-right: -18px;
}
.icon-fav:hover {
    color: #c51929;
}
.cart-layout{width:1000px;margin:0 auto;}
.cart-top{margin:0 auto; height:50px;width:1000px;font:16px/50px "Microsoft YaHei", "微软雅黑";text-align: center;border-bottom:2px solid #ccc;}
.cart-top li{width:150px;float:left;padding-right:5px;}
.cart-top a{ color: #1B1B1B;display:inline-block;font-weight: bold;}
/*.cart-top a{padding-left:5px;}*/
.cart-top a:focus,
.cart-top a:active{
    color:#C8192A;
}
.cart-top li:hover{border-bottom:2px solid #C8192A;}
.cart-top .switch-cart .number{color:#C8192A;padding-left: 5px;}
.cart-top .cart-sum{color: red;margin-left:5px;margin-right: 5px;}
.shopTop{height:50px;font:14px/50px "Microsoft YaHei", "微软雅黑";}
.shopTop .th{float: left;line-height: 50px;text-align: center;width:120px;}
.shopTop .item0{width:125px;padding-left: 5px;}
.shopTop .item1{width:170px;}
.shopTop .item2{width:195px;}
.shop-content{width:1000px;border:1px solid #ccc;position:relative;background: #FCFCFC;
				}
.shop-content .checkboxshop{position: absolute;top:15px;left:15px;padding-right: 10px;}
.shop-content .td{float:left;padding:19px;}
.shop-content .td img{display: block;margin-left: 18px;border: 1px solid #ccc;}
.shop-content .cart-shopInfo{width:200px;}
.shop-content .cart-shopInfo a:hover{text-decoration: underline;color: #f50;}
.shop-content .td-props{width:110px;}
.shop-content .td-amount input{width:30px;height:25px;line-height:25px;text-align:center;color: #343434;
	padding-left:5px;padding-right:5px;border:1px solid #ccc;float:left;}
.shop-content .td-amount{margin-left: 42px;}
 .td-amount .reduce,
  .td-amount .prereduce,
 .td-amount .add{display:block;float:left;width:17px;height:25px;border:1px solid #e5e5e5;
			background: #EBF0F0;text-align: center;line-height: 25px;}
.td-amount .reduce:hover, .td-amount .add:hover{color: #f50;z-index: 3;border-color: #f60;cursor: pointer;}

.td-op a{display: block;margin-left: 50px;}
.td-op a:hover{color:#f50;text-decoration: underline;}
.shop-content .td-total{color:#f50;font-weight: bold;}
.cart-checkbox{margin:10px 0px;}
.floatBar{width:980px;height: 50px;border:1px solid #ccc;background: #E5E5E5;
	margin-top: 10px;position: relative;line-height: 50px;font:16px/50px "宋体";padding:0 10px;}
.floatBar .select-all{width:100px;}
#footer{margin-top: 25px;}
.floatBar .closing{text-align: center;margin-right: -10px;background-color: #B0B0B0;}
.floatBar #jiesuan{width:80px;font-size:16px;text-align: center;color: #fff;font-weight: bold;cursor: pointer;}
.floatBar .total{margin:0px 10px;cursor: pointer;}
.floatBar #bottomPriceTotal,#selectedTotal{color: red;font-weight: bold;cursor: pointer;padding: 0px 5px;}
.floatBar .selected{cursor: pointer;}
.floatBar .selected .choosedPro{margin-right: 10px;}
.selected .choosedPro:hover{color:red;}
.floatBar .selected .down{display: none;}
.show .selected .down{display: inline;}
.show .selected .up{display: none;}
.floatBar .operations a{display: block;margin-left: 10px;}
.floatBar .operations a:hover{text-decoration: underline;color: #f50;}
#selectedViewList{padding:20px;margin-bottom:-20px;}
#selectedViewList div{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 10px;
}
#selectedViewList div img {
  width: 100px;
  height: 100px;
}
#selectedViewList div span {
    display: none;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: RGBA(0,0,0,.5);
    cursor: pointer;
}
#selectedViewList div:hover span {
    display: block;
}
.floatBar .selected-view {
    width: 1000px;
    border: 1px solid #f50;
    position: absolute;
    height: auto;
    background: #ffffff;
    z-index: 9;
    bottom: 48px;
    left: -1px;
    display:none;
}
.show .selected-view {
    display: block;
}
.floatBar .selected-view div{
    height: auto;
}
.floatBar .selected-view .choosedPro {
    font-size: 16px;
    line-height: 100%;
    color:#f50;
    position: absolute;
    right: 262px;
    bottom: -9px;
    font-weight: bold;
}
.floatBar .selected-view .choosedPro span {
    color: #ffffff;
    position: absolute;
    left: 0px;
    bottom: 1px;
}
#selectedViewList div:hover span {
    display: block;
}
.floatBar .selected-view .choosedPro span {
    color: #ffffff;
    position: absolute;
    left: 0px;
    bottom: 1px;
}

/*底部*/
.hr_45{
    height:45px;
    /*background-color:#F7F7F7;#2C3840*/
    background-color:#2C3840;
    text-align:center;
} /*填*/
.login_45{height:45px;
    /*background-color:#E3E4E6;*/
    background-color: #2C3840;
    text-align:center;
    margin-top:80px;
    line-height:45px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.reg_45 p,
.login_45 p {
    color: #A0C2CC;
    /*font-weight: bold;*/
}
.reg_45{height:45px;background-color:#2C3840; text-align:center;margin-top:36px;line-height:45px;}
/*回到顶部菜单*/
.toolbar {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 40px;
    height: 120px;
    background: #fff;
}