
@charset "utf-8";
/* CSS Document */

/*公用*/
.comWidth{width:1200px; margin-left:auto; margin-right:auto;}
.comWidth1{ margin-left:auto; margin-right:auto;}
.smallcomWidth{width:1000px; margin-left:auto; margin-right:auto;}
.leftArea{float:left;}
.rightArea{float:right;}
.hide{display:none;}
.show{display:block;}
html,body{	
	background-color:#eff0f1;
}
/*topBar*/
div1{
    
    float:left;
}

.logo-title {
    font: 400 18px/26px "Microsoft YaHei",SimSun;
    border-left: 1px solid grey;
    color: #1a1a1a;
    float: left;
    padding-left: 10px;
    margin-top: 2px;
}
.header-container {
    width: 950px;
    height: 100%;
    margin: 0 auto;
}
.logo s {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(images\Login\login1.jpg);
	position: absolute;
}
.header-title {
    float: left;
    padding-top: 10px;
    padding-right: 15px;
}
.logo {
    width: 88px;
    height: 30px;
    float: left;
    position: relative;
    font: 400 24px/30px "Microsoft YaHei",SimSun;
    text-align: center;
    margin-right: 10px;
}
.header .logo-title {
    font: 400 18px/26px "Microsoft YaHei",SimSun;
    border-left: 1px solid grey;
    color: #1a1a1a;
    float: left;
    padding-left: 10px;
    margin-top: 2px;
}
.header-right {
    float: right;
    margin-top: 17px;
    overflow: hidden;
}
#content{margin-bottom:0;padding-bottom:1px;background:#fff;margin-top:0;    margin: 0 auto 20px;
    width: 950px}
.order-with-qr .order-wrapper {
    padding-top: 15px;
    padding-left: 116px;
    min-height: 96px;
}

.order-wrapper {
    position: relative;
    z-index: 10;
    line-height: 1.8em;
    border-bottom: 3px solid #b3b3b3;
    background: #eff0f1;
    min-height: 86px;
    padding: 10px 0 11px 10px;
	height:150px;

}
.order-amount {
    position: absolute;
    right: 27px;
    top: 30px;
    text-align: right;
}
.order-real-amount  em{
    color: #ff8208;
    font-weight: 700;
    font-size: 22px;
}
.main-container {
    border-bottom: 3px solid #a6a6a6;
    padding: 20px;
}
.order-wrapper {
    position: relative;
    z-index: 10;
    line-height: 1.8em;
    border-bottom: 3px solid #b3b3b3;
    background: #eff0f1;
    min-height: 86px;
    padding: 10px 0 11px 10px;
}
.topBar2{height:32px; background-color:#FFF; line-height:31px;  border-bottom: 1px solid #d7d8d8;box-shadow: 0 1px 1px #ddd;margin-bottom: 1px;width:950px;margin-left:auto;margin-right:auto}
.order-seller, .order-title {
    height: auto;
    line-height: 25px;
	margin-left:25px;
}
.order-title {
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 15px;	
	margin-left:auto;
	
}
.order-seller{
    width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 15px;	
	margin-left:auto;
	
}
.iconfont {
    font-family: "cashier" !important;
    font-style: normal;
    font-weight: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}
.sx{
    width:20px;
	height:20px;
    padding:20px;
    margin:10px;    
}
.topBar1{height: 50px;background-color: #fff;border-bottom: 1px solid #d7d8d8;box-shadow: 0 1px 1px #ddd;margin-bottom: 1px;}
.topBar{height:32px; background-color:#FFF; line-height:31px;}
.collection{background:url(../images/icon/collection.gif) left center no-repeat; padding-left:15px; font-weight:bold;}
.collection1{background:url(../images/icon/phone.png) left center no-repeat; padding-left:15px; font-weight:bold;}
.topBar a{ padding:0 15px;}
.topBar a:hover{color:red;}
.mune{ display:none; position:absolute; background-color:#fff;color:#237; border:#f5f5f5 solid 2px;}
.account_mang{ width:200px;}
.tqtime{ background-color:#ffefe8; width:300px; margin:0 auto; text-align:center;}
.navigation_hover{ background-color:#FFF;}
.qingfu{ clear:both;}
.h_1{ height:2px; background-color:#f5f5f5;}
.h_1{border-bottom:3px solid red ; }
.h_2{margin-top:50px;border-top:3px solid red;}

/*midbar*/
.midbar{height:80px; background-color:#C51929;}
.tiaofu{ text-align:center;}
/*logo*/
.logoBar{height:90px; background-color:#fff;}
.rlogoBar{height:90px; background-color:#C51929;}

/*search*/
.search_box{width:430px; padding-top:23px; padding-left:185px;}
.search_text{width:348px;height:35px; line-height:35px\9;/*css hack  \9 代表所有的ie浏览器*/ padding:0 5px; background-color:#FFF;border:#B61E1E solid 2px;}
.search_btn{width:68px; height:39px; font-size:14px; font-family:"Microsoft YaHei", "微软雅黑"; background-color:#B61E1E; color:#fff; }
/*购物车*/
.shopCar{width:145px; height:35px;background-color:#F9F9F9; margin-top:23px;font:14px/35px "Microsoft YaHei", "微软雅黑"; color:#000;  display:inline;}
.shopText{height:100%; width:87px; border-right:#B61E1E solid 1px; background: url(../images/icon/shoptext.jpg) 5px center no-repeat; text-indent:40px;}
.shopNum{width:27px; height:35px; border-left:#B61E1E solid 1px; background: url(../images/icon/shopnum.jpg)30px center no-repeat; text-align:right; padding-right:29px;}
/*导航*/
.navBox{height:35px; /*background-color:#AF1B21;*/ color:#fff;}
.navBoxother{height:35px; background-color:#AF1B21; color:#fff;}
.shopClass{width:190px;position:relative;background-color:#AF1B21;}
.shopClass h3{text-align:center; line-height:35px;}
.shopClass_icon{width:11px; height:7px; overflow:hidden; background-position:0 -39px; display:inline-block; margin-left:11px;}
/*1200px  主页*/
.nav.shopClass h3{font-family:"Microsoft YaHei", "微软雅黑";}
.nav{line-height:35px;}
.nav li{float:left;}
.nav a{height:35px; display:inline-block; padding:0 80px;  color:#000;}
/*1000px 商品筛选*/
.snav.shopClass h3{font-family:"Microsoft YaHei", "微软雅黑";}
.snav{line-height:35px;}
.snav li{float:left;}
.snav a{height:35px; display:inline-block; padding:0 75px;  color:#000;}
/*.nav .active{background-color:#C51929;}*/
/*商品弹出列表*/
.shopClass_show{background-color:#C51929; position:absolute; left:0; top:35px; width:100%; padding-bottom:1px;}
.shopClass_item{padding:13px 10px; border-bottom:#C51929 solid 1px; border-top:#C51929 solid 1px; line-height:16px;}
.shopClass_item dt{height:21px; line-height:1; overflow:hidden; background: right center no-repeat;}
.shopClass_item .b{/*font-family:"Microsoft YaHei", "微软雅黑"; font-size:14px; font-weight:bold;*/ font:14px/1 "Microsoft YaHei", "微软雅黑";}
.shopClass_item a{color:#fff;}
.shopClass_item a:hover{text-decoration:underline;}
.shopClass_item .aLink{width:48px; height:20px; display:inline-block; text-align:center; line-height:20px; text-decoration:underline;}
/*banner部分*/
.banner{margin-bottom:15px;}
.banner_bar{/*float:left;*/position:relative;left:190px; width:1000px; height:326px;overflow:hidden;}
.imgBox{position:absolute; left:0px; top:0;width:2000px; height:326px;}
.imgBox li{float:left;}
.imgBox img{display:block;}
.imgNum{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.imgNum a{width:20px; height:5px; overflow:hidden; background-color:#FFF; display:inline-block; margin:0 3px;}
.imgNum .active{background-color:#FF7700;}
/*轮播图*/
.box{position:relative;left:190px;width:800px;height:326px;overflow:hidden;}
.cont{height:326px;overflow:hidden;}
.item{position:absolute; left:0; bottom:15px; width:100%; text-align:center;}
.item a{width:20px; height:5px; overflow:hidden; background-color:#FFF; display:inline-block; margin:0 3px;}
a.seld{background-color:#FF7700;}
a.hide{display:none;}
/*商品标题*/
.shopTit{height:44px; font-family:"Microsoft YaHei", "微软雅黑"; line-height:44px; margin-bottom:15px;}
.shopTit h3{font-size:24px; float:left; font-weight:normal; padding-left:15px;}
.icon{width:44px; height:44px; background: url(../images/icon/goods_list.jpg) left top no-repeat; float:left;}
.more{float:right; font-family:"宋体";}
.more:hover{text-decoration:underline;}
/*商品列表*/
.shopList .leftArea{width:190px;height:270px;}
.shopList .rightArea{width:804px; border:#999 solid 1px; border-bottom:#FF7201 solid 3px; height:270px;}
/*商品列表-右侧*/
.shopList{margin-bottom:15px;}
.shop_item{width:200px; border-right:#999 solid 1px;border-bottom:#999 solid 1px;height:270px; text-align:center; font-family:"Microsoft YaHei", "微软雅黑"; float:left;}
.shop_img{height:190px;}
.shop_img img{width:100%; height:190px; display:block;}
.shop_item h3{font-size:16px;}
.shop_item p{font-size:14px; color:#FF7300; line-height:21px;}
/*footer*/
.hr_25{height:45px;background-color:#FFF; clear:both;}
.footer{height:200px;background-color:#0060C5; clear:both;}
.footer2{height:200px;background-color:#FFF; clear:both;border-bottom: 3px solid #a6a6a6;}

.footer1{height:200px;background-color:#FFF; clear:both;position:relative;}
.ui-form-item:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.ui-securitycore .ui-label {
    float: left;
    width: 170px;
    margin-left: -170px;
    padding-top: 3px;
    text-align: right;
    font-size: 14px;
}

.alieditContainer {
    display: inline-block;
    zoom: 1;
    width: 184px;
    height: 24px;
    position: relative;
}
.ui-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    font-weight: 700;
    border-radius: 2px;
    padding: 0 20px;
    background-image: none;
}
.ui-button-lblue {
    height: 32px;    color: #fff;
    border: 1px solid #0ae;
    background-color: #0ae;
}

#payPassword_rsainput{
	border: 1px solid #a6a6a6;
    border-top-color: grey;
	outline:auto;
}

.footitem{height:200px; width:240px;float:left; /*text-align: center;*/color:#fff;}
.footitem1{height:200px;float:left; text-align: center;color:#333;}
.footitem h3{padding:5px 40px;}
.data a{text-decoration:none; }
.data{padding:5px 40px;}
.data li{padding:10px 0;}
.hr_46{height:45px;background-color:#eff0f1; text-align:center;}
.hr_45{height:45px;background-color:#F7F7F7; text-align:center;} /*填*/
.login_45{height:45px;background-color:#E3E4E6; text-align:center;margin-top:80px;line-height:45px;}
.reg_45{height:45px;background-color:#E3E4E6; text-align:center;margin-top:36px;line-height:45px;}


@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1463246315'); /* IE9*/
  src: url('iconfont.eot?t=1463246315#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1463246315') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1463246315') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1463246315#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  color:#39F;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shuaxin:before { content: "\e608"; }

