@common-color:#f63;
.index {
  .product-list {
    .product-nav-bar {
      margin-bottom:0px !important;
    }
    .like {
      text-align: center;
      width: 100%;
      background: #f63;
      height: 30px;
      float: left;
      color: #fff;
      h5 {
        line-height:30px;
        font-weight:bold;
      }
    }
    .love-more {
      height:30px;
    }
    .left {
      img {
        width:100%;
      }
    }
    .love-list-message {
      .left {
        border:1px solid @common-color;
      }
    }
  }

}