.personal {
  p {
    &.personal-title {
      line-height: 80px;
      font-size: 30px;
      color: #fff;
    }
  }
}
.pdata {
  margin-top:20px;
}
.p-left {
  background: #F5F5F5;
  border:1px solid #E0E0E0;
  a {
    &.active {
      color: #ff552e;
    }
  }
}
.p-right {
  background: #fff;
  .nav-top {
    margin-bottom:40px;
    border-bottom:1px solid #ccc;
    .col-md-2 {
      text-align: center;
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
      height: 30px;
    }
    .active {
      color: #ff552e;
    }
  }
  .nav-item {
    div {
      text-align: center;

    }
  }
  .panel-body {
    padding:0px;
    &.nav-content {
      div {
        text-align: center;
        img {
          width:100px;
          height:100px;
          margin-left:15px;
          float: left;
        }
        a{
          &.content {
            display: block;
            margin: 15px;
            width: 40%;
            float: left;
          }
          &:hover {
            color: #ff552e;
          }
        }
        &.col-md-2 {
          margin-top:5%;
        }
      }

    }
    .list-group {
      margin-bottom:0;
    }
    tr {
      height:50px;
      td {
        line-height:50px;
        a {
          color:#656565;
          font-weight:bold;
        }
      }
    }
  }
}